/*********** LAYOUT *****************/

.nav-main {
    background-color: #1B72E8;
}

.wrapper .sidebar {
    width: 80px;
    height: 100%;
}

header{
    height: 74px;
}

.wrapper {
    height: calc(100vh - 74px);
}

/****************** GENERICS *********************/

main{
    overflow: auto;
    flex-grow: 1;
}


.fa-bell {
    color: #FFC107;
}

.fa-question {
    padding: 5px 10px;
    border-radius: 50%;
    background-color: gray;
    color: white;
}

/******************  UTILITY *********************/

.bg-dk-blue {
    background-color: #165BBA;
}

/************* NAVBAR / SERCH BAR ACTIONS MENU **************/

.page-header img:first-child {
    height: 50px;
}

.page-header .btn {
    border: 0;
}

.page-header .dropdown-menu[data-bs-popper] {
    right: 10px;
    top: 100%;
    left: auto;
}


/********************* SIDEBAR *************************/

.sidebar {
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
    color:white;
}

.sidebar li {
    padding-bottom: 20px;
    list-style-type: none;
}

.sidebar a {
    text-decoration: none;
    color: white;
}

.sidebar a:hover {
    background-color: gray;
}


/********************  NAVBAR IN MAIN CONTENT ***************/

.nav-main .btn.bg-dk-blue {
    border-radius: 50%;
}

.nav-main .offcanvas.offcanvas-end {
    width: 800px;
}

/***************     TABLE CLASSIS    ***************/

.table th {
    font-weight: 400;
}

.fa-code {
    background-color: #F26551;
    padding: 7px 5px;
    border-radius: 50%;
    color: white;
    margin-right: 5px;
}

.main-content table th:first-child{
    width: 50%;
}

/******************        FAQ    ******************/

.faq .fa-angle-up {
    position: absolute;
    right: 5px;
    top: 10px;
}

.faq .list-group-item:active .fa-angle-up{
    display: none; 
}


.faq ul .card {
    border: none;
}

.faq .btn {
    border: none;
}

/********************* MEDIA QUARY ***********************/

@media screen and (min-width: 992px) {

    .wrapper .sidebar {
        width: 200px;
    }
    
}
