/* TODO DEBUG SECTION */

.navbar {
    border: 1px dashed red;
}


.sidebar {
    border: 1px dashed red;
}

.nav-main {
    background-color: aqua;
}

section {
    border: 2px dashed green;
}

#next-classes {
    height: 400px;
}

#faq {
    height: 400px;
}

#todo {
    height: 200px;
}

#stats {
    height:400px ;
}



/* LAYOUT */

.sidebar {
    width: 80px;
    height: 100%;

}

.nav-main {
    height: 150px;
    width: 100%;
}

.navbar{
    height: 80px;
}

.wrapper {
    height: calc(100vh - 80px);
}


/* GENERICS */

main{
    overflow: auto;
    flex-grow: 1;
}










/* MEDIA QUARY */

@media screen and (min-width: 992px) {

    .sidebar {
        width: 130px;
    }
    
}