
/* LAYOUT */

.nav-main {
    background-color: #1B72E8;
}

.sidebar {
    width: 80px;
    height: 100%;

}

/* .nav-main {
    height: 150px;
    width: 100%;
} */

.navbar{
    height: 80px;
}

.wrapper {
    height: calc(100vh - 80px);
}

/* GENERICS */

main{
    overflow: auto;
    flex-grow: 1;
}

.table th {
    font-weight: 400;
}

/* SIDEBAR */

.sidebar {
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
    color:white
}

.sidebar li {
    padding-bottom: 20px;
}

.navbar img:first-child {
    height: 50px
}

/* TABLE CLASSIS */

.fa-code {
    background-color: #F26551;
    padding: 7px 5px;
    border-radius: 50%;
    color: white;
    margin-right: 5px;
}

/* MEDIA QUARY */

@media screen and (min-width: 992px) {

    .sidebar {
        width: 130px;
    }
    
}
